version: '3.8'
services:
  auth-service:
    build: ./services/auth-service
    container_name: auth-service
    ports:
      - "3001:3000"
    env_file:
      - ./services/auth-service/.env
    depends_on:
      - auth-db

  auth-db:
    image: mysql:8
    container_name: auth-db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: auth_db
    ports:
      - "3307:3306"
    volumes:
      - auth_data:/var/lib/mysql

  product-service:
    build: ./services/product-service
    container_name: product-service
    ports:
      - "3002:3000"
    env_file:
      - ./services/product-service/.env
    depends_on:
      - product-db

  product-db:
    image: mysql:8
    container_name: product-db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: product_db
    ports:
      - "3308:3306"
    volumes:
      - product_data:/var/lib/mysql

volumes:
  auth_data:
  product_data:
